NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/nodues
JWT_SECRET=your_super_secret_key_here
CLIENT_URL=https://your-app.vercel.app
TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
